#sideBar {
    height: 200px;
    background-color: lightslategrey;
    float: left;
    width: 20%
}

#mainContent {
    height: 200px;
    background-color: magenta;
}

#leftBox {
    background-color: mediumpurple;
    float: left;
    height: 300px;
}

#leftBox {
    padding: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    color: white;
}

#middleBox {
    background-color: gray;
    float: left;
    height: 300px;
}

#middleBox{
    padding: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    color: white;
}

#rightBox {
    background-color: teal;
    height: 300px;
    padding: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    color: white;
}

#footer  {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: green;
    text-align: center;
    height: 50px;
}

div.flexContainer {
    display: flex;
    background-color: yellow;
}
div.flexContainer > div {
    background-color: gray;
    width: 200px;
    height: 200px;
    margin: 20px 10px;
    padding: 20px;
}