h2 {
    font-family: garamond;
    font-weight: bold;
    text-align: center;
}

.myContact {
    padding: 20px 50px;
    /* border: dotted #C77075; */
}

h3 {
    color: #C77075;
    font-weight: bold;
}

div.divider {
margin-top: 15px;
}

