
/* #firstBox{
    width: 200px;
    background-color: bisque;
    padding: 20px;
    margin: 50px;
    border: 10px green dotted;
    float: left;
    
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    scroll-margin-inline-end: 0px;
    font-weight: bold;
}


.secondBox{
    width: 100%;
    height: 500px;
    background-color: blueviolet;
}



p {
    color: lightseagreen;
}
p {
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}



#thirdBox {
    width: 300px;
    height: 300px;
    background-color: lightcoral;
    margin: -100px;
    
 
} */




/* Nav Bar */
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    /* background-color: #C77075; */
}

/* Nav Bar Active */
li.nav-item.active {
    color: #C77075;
    font-weight: bold;
    text-decoration: underline;
  
}

/* Nav Logo */
.customNav > a.navbar-brand > img {
height: 150px;
width: auto;
}

h2 {
    text-align: center;
    font-family: garamond; 
    
}

div.divider {
    margin-bottom: 35px;
}
 .row {
     align-items: center;
 }

a.viewProjectBtn {
    background-color: #C77075;
    color: white;
    border: 1px solid transparent;
    font-family: garamond;
    font-weight: lighter;
}
