/* img {
    margin-left: 30px;
} */

.topRow {
    align-items: center;
    margin-bottom: 30px;
}
div.nameTitle {
    margin: 50px;
    margin-top: auto;
}

.fas {
    width: 50px;
    position: relative;
    margin-right: 15px;
}

.fab {
    margin-bottom: 30px;
}

div.nameTitle h6 {
    font-family: garamond;
}

div.infoSection h5 {
    font-family: garamond;
    font-weight: bold;
}


div.nameTitle h1 {
    font-family: garamond;
    font-weight: bold;
}

img.logoImage {
    margin-top: -25px;
    margin-left: 200px;
}

div.topRow {
    margin: 50px;
}

div.divider {
    transform: translateX(35,0);
    border-bottom: 2px solid #C77075;
    margin-bottom: 15px;
    width: 50%;
}
ul li {
    font-family: garamond;
}

div.experienceSection h5{
    font-family: garamond;
    font-weight: bold;
}

div.yearTitle h6 {
    font-family: garamond;
    font-weight: bold;
}

li {color:#C77075;
margin-left: 20px; }
li span {color: black;}



/* Media Queries */
@media (max-width: 768px) {
    .myresume {
        border-width: 0px;
    }
}


